* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "DM Serif Display", serif;
  font-size: 16px;
}
@media (max-width: 760px) {
  body {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karla", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  outline: none;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
header nav ul {
  display: flex;
  gap: 30px;
}
header nav ul a {
  color: hsl(216, 30%, 68%);
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header nav ul a:focus {
  color: hsl(256, 26%, 20%);
}

.btn {
  padding: 8px 20px;
  border: 2px solid hsl(256, 26%, 20%);
  color: hsl(256, 26%, 20%);
  border-radius: 3px;
  transition: 0.3s ease;
}
.btn:hover {
  background-color: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 98%);
}

.hero {
  background-color: hsl(256, 26%, 20%);
  height: 600px;
  position: relative;
}
@media (max-width: 760px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}
.hero::before {
  content: "";
  position: absolute;
  background-image: url(./images/bg-pattern-intro-right-desktop.svg);
  top: 0;
  right: 0;
  z-index: 3;
  height: 100%;
  width: 18rem;
  background-repeat: no-repeat;
}
.hero::after {
  content: "";
  position: absolute;
  background-image: url(./images/bg-pattern-intro-left-desktop.svg);
  top: 70%;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 18rem;
  background-repeat: no-repeat;
}

.hero_inner {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}
@media (max-width: 760px) {
  .hero_inner {
    display: flex;
    justify-content: center;
    padding: 80px 0;
  }
}
@media (max-width: 760px) {
  .hero_inner .content {
    text-align: center;
  }
}
.hero_inner .content hr {
  width: 200px;
  height: 0;
  border: 1px solid hsl(0, 0%, 98%);
}
@media (max-width: 760px) {
  .hero_inner .content hr {
    margin: 0 auto;
  }
}
.hero_inner .content h1 {
  font-size: 5rem;
  color: hsl(0, 0%, 98%);
  font-weight: 700;
  line-height: 1;
  margin-top: 2rem;
}
@media (max-width: 760px) {
  .hero_inner .content h1 {
    font-size: 2rem;
  }
}
.hero_inner .content p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: hsl(0, 0%, 98%);
  padding-right: 50px;
  margin-top: 2rem;
}
@media (max-width: 760px) {
  .hero_inner .content p {
    font-size: 1rem;
    padding-right: 0;
  }
}
.hero_inner .content a {
  display: inline-block;
  color: hsl(0, 0%, 98%);
  padding: 10px 25px;
  border: 2px solid hsl(0, 0%, 98%);
  border-radius: 3px;
  margin-top: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s ease-out;
}
.hero_inner .content a:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(270, 9%, 17%);
}
@media (max-width: 760px) {
  .hero_inner .banner {
    display: none;
  }
}

.hero_img-mobile {
  display: none;
}
@media (max-width: 760px) {
  .hero_img-mobile {
    display: block;
    width: 100%;
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */